div.document {
    font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', serif;
    font-size: 17px;
    width: 1000px;
    margin: 0 auto;
    color: #3E4349;
}
div.maindoc ul.mainmemu{
    font-size: 20px;
    margin: 10;
}

div.floatmenu {
    display: block;
    position: fixed;
    cursor: pointer;
    top: 100px;
    right: 0px;
    background: transparent;
    color: #0464c4;
}

div.floatmenu div.list {
    float: right;
    display: none;
    line-height: 35px;
    font-size: 18px;    
    background: honeydew;
    border: 1px double #999;
}

div.floatmenu:hover div.list {
    display: block;
}

div.floatmenu .arrow {
    float: left;
    height: 57px;
    width: 12px;
    word-break: break-all;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    border: 3px double #999;
    background: greenyellow;
}

ul.mainmemu {
    list-style: none;
    margin: 0;
    padding: 5px;
    font-size: 14px;
}

ul.mainmemu  a.pdfdn{
    padding-left: 5px;
    color: #04f;
}
div.slidebar {
    width: 25%;
    position: fixed;
    left: 10px;    
    top: 32px;
    display: none;
}

div.slidebar .slidepnl {
    overflow-y: scroll;
    overflow-x: hidden;
}

div.slidebar .slidepnl::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

div.slidebar .slidepnl::-webkit-scrollbar-track {
    background-color: #ddd;
}

div.slidebar .slidepnl::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

div.slidebar .menus {
    font-size: 24px;
    padding: 10px 5px;
    border-right: 2px solid #ddd;
}

div.slidebar .menus>span {
    float: right;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    cursor: pointer;
    color: #0593d3;
    font-size: 16px;
    line-height: 15px;
}

div.slidebar .menus>span.positioning {
    border: 1px solid #0593d3;
    border-radius: 50%;
    text-align: center;
}

div.slidebar ul {
    margin: 3px 0 3px 10px;
    padding: 0;
    color: #000;
    list-style: none;
}

div.slidebar ul li {
    margin: 5px 0;
    display: list-item;
    text-align: -webkit-match-parent;
}

div.slidebar ul li span.toggle {
    cursor: pointer;
    border: 1px solid #ccc;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    display: inline-block;
    line-height: 11px;
    text-align: center;
}

div.slidebar a {
    color: #444;
    text-decoration: none;
    border-bottom: 1px dotted #999;    
    white-space: nowrap;
    overflow-x: hidden;
}

div.slidebar li.aH2 {
    font-size: 16px;
}

div.slidebar li.aH3 {
    font-size: 14px;
    margin-left: 8px;
}

div.slidebar li.aH4 {
    font-size: 12px;
    margin-left: 16px;
}


div.main {
    width: 75%;
    margin-left: 25%;
    padding: 0 5px 32px 5px;
}

div.copyright {
    margin: 10px auto 0 auto;
    padding: 10px 0;
    font-size: 14px;
    color: #888;    
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 1000px;
    background: #fff;
}

.table {
    min-width: 50%;
    width: auto !important;
}

div.navmore {
    display: block;
    position: fixed;
    cursor: pointer;
    top: 200px;
    right: 0px;
    background: transparent;
    color: #0464c4;
}

div.navmore div.right {
    float: right;
    display: none;
    line-height: 35px;
    text-align: center;
    font-size: 18px;    
    background: honeydew;
    border: 1px double #999;
}

div.navmore:hover div.right {
    display: block;
}

div.navmore .arrow {
    float: left;
    height: 57px;
    width: 12px;
    word-break: break-all;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    border: 3px double #999;
    background: greenyellow;
}

div.navmore div.right div {
    border: none;
    border-bottom: 1px solid #999;
    height: 30px;
}

div.navmore div.right div:last-child {
    border-bottom: none;
}

li>a.active {
    background: #eee;
}